.bg-image {
    background-image: url("../img/stats-bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: orange!important;
}


a.hover-1:hover::before {
    content: '';
    position: absolute;
    animation: hover-1 5s infinite;
    top: 35px;
    width: 106px;
    height: 2px;
    background-color: orange!important;
    transition: .5s all;
}

@keyframes hover-1 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 106px;
        height: 2px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}